<div class="container">
	<div class="row">
		<p><strong><%= `python3 -c 'import str; print("HELLO")'` %></strong> from python </p>
		<!--<p><strong><%#= `python3 -c 'import rails_communicator; print("HELLO")'` %></strong> from python </p> NOTE This is how importing external class would be called-->
	</div>
</div>
