<!--
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Minh X Nguyen</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><%= link_to 'Home', root_path%></li>
				<li><%= link_to 'About', pages_about_path %></li>
				<li><%= link_to 'Projects', investments_path %></li>
			</ul>
		</div>
	</div>
</nav>

-->
<!--
<div id="main-container" class="container">
	<div class="Welcome">Welcome to <span class="Name">Minh X Nguyen</span>'s page</div>
	<aside class="NavSidebar">
		<h2> Check Out My Projects </h2>
		<ul>
			<li><%= link_to 'Investment Accounting App', investments_path %></li>
		</ul>
		<section>
			<h2>About Me</h2>
			<p> My name is Minh X. Nguyen. A Vietnamese American </p>
		</section>
		<div>
			<p>...Insert Image here</p>
		</div>
	</aside>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Dropdown
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li><a href="#">Action</a></li>
			<li><a href="#">Another action</a></li>
			<li><a href="#">Something else here</a></li>
			<li><a href="#">Separated link</a></li>
		</ul>
	</div>

</div>
-->
