<div class="Welcome">Welcome to <span class="Name">Minh X Nguyen</span>'s page</div>
<aside class="NavSidebar">
	<h2> Check Out My Projects </h2>
	<ul>
		<li><%= link_to 'Investment Accounting App', investments_path %></li>
	</ul>
	<section>
		<h2>About Me</h2>
		<p> My name is Minh X. Nguyen. A Vietnamese American </p>
	</section>
	<div>
		<p>...Insert Image here</p>
	</div>
</aside>
